<p>
  <strong><%= comment.commenter %> says </strong><br>
  <strong>Comment:</strong>
  <%= comment.body %>
  <br>
  <%= link_to 'Delete', [comment.player, comment],
			  method: :delete,
			  data: { confirm: 'Are you sure?' } %>
</p>
<hr>