<h2><%= @video.title %></h2>

<p>
  <strong>Date:</strong>
  <%= @video.date %>
</p>

<%= link_to 'Back', videos_path %>
<br>

<iframe
    src="http://player.twitch.tv/?video=126402470&autoplay=false"
    height="720"
    width="1280"
    frameborder="0"
    scrolling="no"
    allowfullscreen="true">
</iframe>

<br>
<%= link_to 'Back', videos_path %>